{% extends 'base.html' %}

{% block content %}

<style type="text/css">
    .hidden {display:none}

    h1 {
        text-align: center;
      }
      td {
        font: 
        width: 100px;
        height: 100px;
        background-color: #f4511e;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        opacity: 0.6;
        transition: 0.3s;
      }

      .grey {
        background-color: #696969;
      }
      td:hover {
        opacity: 1
      }
      table {
        margin: 5px auto;
      }
      .vert {
        border-left: 2px solid black;
        border-right: 2px solid black;
      }
      .hori {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
      }

      .description {
        width: 200px;
        height: 50px:
        background-color: blue;
        margin-bottom: 20px;
      }

      .left {
        float:left;
      }
      .right {
        float:right;
      }
</style>

<h2 align='center'>GAME</h2>

<div id='joining_game' align='center'>
    <h3>Join a queue to look for an opponent!</h3>
    <button id='btn-join' type='submit' class='btn btn-primary'>Join Queue</button>
</div>

<div id='queue' align='center' class='hidden'>
    <h1>Waiting for an opponent...</h1>
</div>

<div id='board' align='center' class='hidden'>
    <h1 id='game_state'>Game state</h1>
    <table>
        <tr>
            <td><p id='0'>X</p></td>
            <td class="vert"><p id='1'>X</p></td>
            <td><p id='2'>X</p></td>
        </tr>
        <tr>
            <td class="hori"><p id='3'>X</p></td>
            <td class="vert hori"><p id='4'>X</p></td>
            <td class="hori"><p id='5'>X</p></td>
        </tr>
        <tr>
            <td><p id='6'>X</p></td>
            <td class="vert"><p id='7'>X</p></td>
            <td><p id='8'>X</p></td>
        </tr>
    </table>
    <hr/>
    <div class='description'>
        <span id='player1_firstname' class='left'>Player 1</span>
        <span id='player2_firstname' class='right'>Player 2</span>
    </div>
</div>

<script>
    const first_name = '{{user.first_name}}';
    const user_id = '{{user.id}}'
    const socket = io({autoConnect: false});
    var mySign = '';

  
    document.getElementById('btn-join').addEventListener('click', function(e){
        socket.connect();
        socket.on("connect", function() {
            socket.emit("user_join", user_id, first_name);
        })
        
        document.getElementById('joining_game').classList.add("hidden");
	    document.getElementById('queue').classList.remove("hidden");
        //startAGame();
    });

    /*
    startAGame = () => {
        console.log('wchodze')
        const requestOptions = {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
            }),
        };
        fetch('/game', requestOptions)
        .then((response) => console.log(response))
    };
    */

    socket.on('players_set', (data) => {
        gameStart(data['player1_first_name'], data['player2_first_name']);
    });

    gameStart = (p1, p2) => {
        document.getElementById('queue').classList.add("hidden");
        document.getElementById('board').classList.remove("hidden");
        document.getElementById('player1_firstname').innerText=p1
        document.getElementById('player2_firstname').innerText=p2
        console.log('Game started!');
        if (p1 == first_name) {
            mySign = "O"
        } else mySign = "X"
    };

    socket.on('player_turn', (data) => {
        console.log('Dostalem Player turn')
        p1 = data['player1_id']
        p2 = data['player2_id']
        console.log(data['player1_id'], user_id)
        if (data['player1_id'] == user_id) {
            document.getElementById('game_state').innerText='My turn.'
            changePlayerTurn(p1, p2);
        } else {
            document.getElementById('game_state').innerText='Opponent`s turn.'
            changePlayerTurn(p2, p1);
        }
        
    });

    changePlayerTurn = (p1, p2) => {
        console.log('Change player turn');
        for (let i = 0; i++; i<9) {
            field = document.getElementById(i.toString())
            console.log('Field:', field)
            if (user_id == p1) {
                field.classList.remove("grey");
                if (field.innerText == '') {
                    field.addEventListener('click', () => {
                        socket.on('move', field_id=i.toString(), sign=mySign, p1);
                    });
                   
                }
            } else {
                field.classList.add("grey");
                field.removeEventListener('click', () => {} )
            }   
        }
    }

</script>

{% endblock %}